.social-login
  button.social-login--github
    a(href=routes.github)
      span.social-login__icon
        i.fab.fa-github
      span.social-login__title Continue with Github
  button.social-login--google
    a(href=routes.google)
      span.social-login__icon
        i.fab.fa-google
      span.social-login__title Continue with Google