doctype html
html(lang="en")
  head
    link(rel="stylesheet",
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css")
    title #{siteName} | #{pageTitle}
    link(rel="stylesheet",href="/static/styles/styles.css")
  body
    include ../partials/header
    main
      block content
    include ../partials/footer
    script.
      window.JSONUser = !{JSONUser}
    script(src="/static/js/main.js")