@keyframes flashAnimation {
  0% {
    transform: translateY(-210px);
  }
  5% {
    transform: translateY(0px);
  }
  95% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-280px);
  }
}

.flash-message__container {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  button {
    box-shadow: unset;
    border: none;
    outline: none;
    width: 150px;
    animation: flashAnimation 1.5s ease-in-out forwards;
    &.error {
      background-color: red;
    }
    &.info {
      background-color: rgb(255, 202, 55);
    }
    &.success {
      background-color: rgba(46, 255, 64, 0.856);
    }
  }
}
