extends layouts/main
include mixins/videoBlock

block content
  .search__header
    h5 Searching for: #{searchingBy}
    if videos.length === 0
      h5 Can't not found #{searchingBy}
    else
      h5 I have searched #{videos.length} videos
  .search__videos
    each video in videos
      +videoBlock({
        id:video.id,
        title:video.title,
        videoUrl: video.videoUrl,
        createdAt: video.createdAt,
        creator: video.creator,
      })