.profile__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: $red;
}

.avatar--small {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: $red;
}
