.social-login
  button.social-login--github
    a(href=routes.github)
      span.social-login__icon
        i.fab.fa-github
      span.social-login__title Continue with Github
  button.social-login--kakao
    a(href=routes.kakao)
      span.social-login__icon
        i.fas.fa-comment
      span.social-login__title Continue with Kakao