.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  .profile__column {
    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;
      margin-bottom: 40px;
      font-weight: 400;
      font-size: 18px;
      .profile__name {
        margin-bottom: 20px;
      }
    }
    &:last-child {
      .profile__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
        .profile__edit {
          margin-bottom: 20px;
        }
        a {
          width: 100%;
          max-width: 320px;
        }
      }
    }
  }
}

.uploaded-videos {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-gap: 30px;
  .videoBlock:first-child,
  .videoBlock:nth-child(2) {
    grid-column: span 3;
  }
  .videoBlock:nth-child(3),
  .videoBlock:nth-child(4),
  .videoBlock:nth-child(5) {
    grid-column: span 2;
  }
}
