include ../mixins/messages

doctype html
html(lang="en")
  head
    link(rel="stylesheet",
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css")
    title #{siteName} | #{pageTitle}
    link(rel="stylesheet",href="/static/styles/styles.css")
  body
    if messages.error
      +message({
        type:'error',
        text:messages.error
      })
    else if messages.info
      +message({
        type:'info',
        text:messages.info
      })
    else if messages.success
      +message({
        type:'success',
        text:messages.success
      })
      
    include ../partials/header
    main
      block content
    include ../partials/footer
    script.
      window.JSONUser = !{JSONUser}
    script(src="/static/js/main.js")